

.logo {
    height: 100px !important;
    width:100px !important;
}

/* Adjust navbar on small screens */
@media (max-width: 768px) {
    .navbar {
        flex-wrap: wrap;
        background-color: yellow;
    }
    
    .navbar-brand {
        font-size: 16px;
    }

    .form-control {
        width: 100%;
    }

    .btn {
        padding: 5px 10px;
        font-size: 14px;
    }
  
}



.logo {
    height: 40px; 
    width: auto;
}


.form-control {
    height: 35px !important;
    font-size: 14px; 
}


.btn {
    padding: 5px 10px !important;
    font-size: 14px !important;
}
